* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/fs/51509b38771237.576e2d572ce76.jpg");
    background-size: cover;
    background-position: top;
    width: 100vw;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
    color: #fff;
}

.container-1 {
    display: flex;
    height: 100%;
}

.container-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12%;
    height: 100%;
    border-radius: 0.5rem;
    padding: 1rem;
    background-color: #000;
    color: #FFC72C;
}

.container-3 {
    padding: 1rem;
    width: 88%;
}

.nav #links {
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    display: flex;
    list-style: none;
}

li:hover {
    background-color: #303030;
}

#links a {
    color: #FFC72C;
    color: 20px;
    text-decoration: none;
    font-size: 19px;
    transition: 0.6s;
}

#links a:hover {
    font-size: 20px;
    padding: 5px;
    color: #fff;
    transform: scale(1.5);
    background-color: #303030;

}