* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f5f5f5;
    font-family: "Inter", sans-serif;
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10rem;
}

.header #logo img {
    max-width: 270px;
    border-radius: 0.3rem;
}

.nav #links {
    display: flex;
    gap: 1.1rem;
    list-style: none;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: #000;
    transition: 0.4s;
}

a:hover {
    color: crimson;
    font-size: 17px;
}

.main {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main #title {
    color: crimson;
    transition: 0.2s;
    padding-right: 16rem;
    margin-bottom: 3rem;
}

#title:hover {
    color:#000;
}

.table {
    width: 100%;
    text-align: justify;
    border-spacing: 1.1rem;
}

.imgs {
    height: auto;
}

.products {
    width: 100%;
}

th, td {
    padding: 0.7rem;
    text-align: justify;
    border: none;
    border-radius: 0.5rem;
    background-color: rgb(216, 65, 95);
    color: white;
}

.footer {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}

.footer span {
    font-weight: 800;
}